Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve '/Users/medoune/Documents/MEANWor  kspace/product_frontend/src/index.html' in '/Users/medoune/Documents/MEANWorks  pace/product_frontend':
  Error: Can't resolve '/Users/medoune/Documents/MEANWorkspace/product_frontend/  src/index.html' in '/Users/medoune/Documents/MEANWorkspace/product_frontend'
  
  - compiler.js:79 childCompiler.runAsChild
    [product_frontend]/[html-webpack-plugin]/lib/compiler.js:79:16
  
  - Compiler.js:300 compile
    [product_frontend]/[webpack]/lib/Compiler.js:300:11
  
  - Compiler.js:510 applyPluginsAsync.err
    [product_frontend]/[webpack]/lib/Compiler.js:510:14
  
  - Tapable.js:202 next
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:202:11
  
  - CachePlugin.js:78 Compiler.<anonymous>
    [product_frontend]/[webpack]/lib/CachePlugin.js:78:5
  
  - Tapable.js:206 Compiler.applyPluginsAsyncSeries
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:206:13
  
  - Compiler.js:507 compilation.seal.err
    [product_frontend]/[webpack]/lib/Compiler.js:507:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:683 applyPluginsAsync.err
    [product_frontend]/[webpack]/lib/Compilation.js:683:19
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:674 applyPluginsAsync.err
    [product_frontend]/[webpack]/lib/Compilation.js:674:11
  
  - Tapable.js:202 next
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:202:11
  
  - index.js:244 Compilation.<anonymous>
    [product_frontend]/[uglifyjs-webpack-plugin]/dist/index.js:244:6
  
  - Tapable.js:206 Compilation.applyPluginsAsyncSeries
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:206:13
  
  - Compilation.js:669 applyPluginsAsync.err
    [product_frontend]/[webpack]/lib/Compilation.js:669:10
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:665 applyPluginsAsyncSeries
    [product_frontend]/[webpack]/lib/Compilation.js:665:9
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:608 Compilation.seal
    [product_frontend]/[webpack]/lib/Compilation.js:608:8
  
  - Compiler.js:504 applyPluginsParallel.err
    [product_frontend]/[webpack]/lib/Compiler.js:504:17
  
  - Tapable.js:289 
    [product_frontend]/[webpack]/[tapable]/lib/Tapable.js:289:11
  
  - Compilation.js:511 _addModuleChain
    [product_frontend]/[webpack]/lib/Compilation.js:511:11
  
  - Compilation.js:394 errorAndCallback.bail
    [product_frontend]/[webpack]/lib/Compilation.js:394:4
  
  - Compilation.js:417 moduleFactory.create
    [product_frontend]/[webpack]/lib/Compilation.js:417:13
  
  - NormalModuleFactory.js:237 factory
    [product_frontend]/[webpack]/lib/NormalModuleFactory.js:237:20
  
  - NormalModuleFactory.js:60 resolver
    [product_frontend]/[webpack]/lib/NormalModuleFactory.js:60:20
  
  - NormalModuleFactory.js:127 asyncLib.parallel
    [product_frontend]/[webpack]/lib/NormalModuleFactory.js:127:20
  
  - async.js:3888 
    [product_frontend]/[async]/dist/async.js:3888:9
  
  - async.js:473 
    [product_frontend]/[async]/dist/async.js:473:16
  
  - async.js:1062 iteratorCallback
    [product_frontend]/[async]/dist/async.js:1062:13
  
</pre><script type="text/javascript" src="/manifest.e95e96dfc0f16deb5311.js"></script><script type="text/javascript" src="/vendor.d4799b6484f0455f6a5a.js"></script><script type="text/javascript" src="/app.f3c40d3582e7258261cc.js"></script>